body {
    background-color: #0e0f0f;
}
.landingimg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: brightness(80%);
}
.landingtext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-105%, -45%);
    color: ivory;
    filter: drop-shadow(.25rem .25rem .2rem black);
}
.landingtitle {
    font-size: 16vh;
}
.landinghr {
    width: 110%;
}
.landingsubtitle {
    font-size: 4vh;
}
.landingbg {
    color: ivory;
}
.whatisphoto {
    max-width: 85%;
    height: 30vh;
    margin: 3%;
}
.aboutblock {
    color: ivory;
    text-align: center;
    margin-top: 4vh;
    font-size: 4vh;
}
