body {
    background-image: url("https://www.colorhexa.com/131414.png");
}
label {
    color: ivory
}
.landingimg {
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: brightness(80%);
}
.landingtext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-105%, -45%);
    color: ivory;
    filter: drop-shadow(.25rem .25rem .2rem black);
}
.landingtitle {
    font-size: 16vh;
}
.landinghr {
    width: 110%;
}
.landingsubtitle {
    font-size: 4vh;
}
.landingbg {
    color: ivory;
}
.whatisphoto {
    max-width: 85%;
    height: 30vh;
    margin: 3%;
}
.aboutblock {
    color: ivory;
    text-align: center;
    margin-top: 4vh;
    font-size: 4vh;
}
.abouttitle {
    color: ivory;
    text-align: center;
    margin-top: 3vh;
    font-size: 8vh;
}
.abouttext {
    color: ivory;
    margin-top: 1vh;
    font-size: 2.7vh;
    margin: 0 2.5vw;
}
.placelist {
    height: fit-content;
}
.postdetails {
    background-image: url("https://www.colorhexa.com/131414.png");
    height: fit-content;
    border-color: #0e0f0f;
    border-width: 1vh;
    border-style: solid;
}
.postphoto {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.postphoto img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.postcontent {
    height: fit-content;
    background-color: #0e0f0f;
    opacity: 80%;
}
.post {
    color: ivory;
}
.postimage {
    margin-left: 15px;
    border: ivory;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
}
.postname {
    margin-top: 0;
    font-size: 3.5vh;
    filter: drop-shadow(.25rem .25rem .2rem black);
}
.posttitle {
    margin-top: 0;
    font-size: 3vh;
    filter: drop-shadow(.25rem .25rem .2rem black);
}
.posttext {
    margin: 0 0 5vh;
    font-size: 2.75vh;
    filter: drop-shadow(.25rem .25rem .2rem black);
}
.wayfarer {
    margin-left:0! important;
    margin-right:0! important;    
    padding:0! important;
}
.wayfarerphoto {
    width: 120%;
    height: 20vh;
    object-fit: cover;
    margin: 0! important;
    padding: 0! important;
}
.listphoto {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    margin: 0! important;
    padding: 0! important;
}
.planetname {
    color: ivory;
    font-size: 8vh;
    position: relative;
    bottom: 1.25em;
    left: .75em;
    margin: 0 0 -1.1em -.5em;
    filter: drop-shadow(.25rem .25rem .75rem black);
}
.planetnamelist {
    width: fit-content;
    color: ivory;
    font-size: 8vh;
    position: relative;
    bottom: 1.25em;
    left: .75em;
    filter: drop-shadow(.25rem .25rem .75rem black);
}
.topspace {
    margin-top: 7vh;
}
.extratopspace {
    margin-top: 10vh;
}
.darkerplease {
    background-color: #0e0f0f! important;
}
a:hover {
    color: #c4d1d1;
    background-color: transparent;
}
.posticons {
    color: ivory;
    filter: drop-shadow(.25rem .25rem .75rem black);
}
.buttonoverride {
    padding: 0 4px;
    font-size: 20px;
    position: relative;
    bottom: 30px;
    right: 4px;
    margin-bottom: -26.5px;
}
.homesplash {
    color: ivory;
    font-size: 6vh;
    filter: drop-shadow(1rem 1rem .5rem black);
}
.subhomesplash {
    color: ivory;
    font-size: 4vh;
    margin: 0 0 5vh;
    filter: drop-shadow(-1rem 1rem .5rem black);
}
.trendingpostcontain {
    margin: 0 0 5vh;
}
.trendingtitle {
    color: ivory;
    font-size: 4vh;
    margin-top: 2vh;
    filter: drop-shadow(.25rem .25rem .2rem black);
}
.details {
    margin-left: 0px;
}
.detail__container {
    margin-left: -45px;
}
.detailtopspace {
    padding-top: 4vh;
}