{% extends 'base.html' %} {% block content %}
<h2 class="text-right">Profile Settings</h2>
<form class="row gy-2 gx-3 align-items-center">
    <div class="form-group">
        <input class="form-control" type ="name" placeholder="first name" value="">
        <input class="form-control" type ="name" placeholder="last name" value="">
    </div>
        <div class="form-group">
            <input class="form-control" type="email" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="address" placeholder="Planet">
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
</form>
</body>

{% endblock %}