{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="row aboutbg">
    <br><br>
    <div class="col-md-3"></div><h1 class="col-md-9 aboutheader text-center post extratopspace">What is Spacefarers?</h1><br>
    <div class="col-md-7"><br><br><br>
        <h2 class="text-left aboutsubheader post">Spacefarers is meant to bring people together, across planets, star systems, and galaxies. Whether you are planning an intergalactic adventure or simply looking for cameraderie in your travels, Spacefarers is the platform for you.<br><br>Meet other life forms, discover new worlds, and make life a meaningful journey with Spacefarers.</h2>

    </div>
{% endblock %}