{% extends 'base.html' %} 
{% block content %}
{% include 'nav.html' %}
<div class="container text-center"><br><br><br>
    <h2 class="text-center">Are you sure you want to delete {{planet.name}}?</h1><br>
    <div class="row">
    <div class="col-md-3"></div>
    <img class="col-md-6" width="500px" src="{{planet.img}}">
    <div class="col-md-3"></div>
    </div>
    <form method="post"><br>
    {% csrf_token %}
    <div class="col-md-3"></div>
    <div class="buttons col-md-6">
        <input class="btn btn-block btn-danger" type="submit" value="Confirm" />
        <a class="btn btn-block btn-primary" href="{% url 'detail' planet.pk %}">Cancel</a>
    </div>
</form>
</div>
</body>
{% endblock %}