{% extends 'base.html' %} 
{% block content %}
{% include 'nav.html' %}
<div class="container-fluid">
    <div class="col-md-1 detailborder"></div>
    <div class="col-md-10 topspace detailspage">
        <div class="row">
            <div class="detailtopspace col-md-5">
                <img class="img-responsive" src="{{planet.img}}" alt="{{planet.name}}" />
            </div>
            <div class="container details col-md-7">
                <div class="detail__name row">
                    <h1 class=" title homesplash">{{planet.name}}</h1>
                </div>
                <div class="detail__container row">
                    <div class="detail__about">
                        <h4 class="abouttext">{{planet.bio}}</h4>
                    </div>
                </div>
                <br>
                <div class="buttons row">
                    <form class=“mb-5” action="{% url 'comment_create' user.pk %}" method=“post”>
                        {% csrf_token %}
                        <div class="commentbutton field has-addons">
                            <div class=“control”>
                                <button class="btn btn-info" type=“submit” value="submit">Add Comment</button>
                            </div>
                        </div>
                    </form>
                    <a href="{% url 'update' planet.pk %}"> <button type="button" class="btn btn-primary">Update</button>
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                    <a href="{% url 'delete' planet.pk %}"> <button type="button" class="btn btn-danger">Delete</button>
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </a>
                </div>
            </div>
            <br>
        </div>
        <hr>
        <div class="detail__comments mb-5">
            <h3 class="post">Posts from {{planet.name}}:</h3>
            <div class="Comments">
            {% for comment in comments %}
            {% if comment.planet.pk == planet.pk %}
            <div class="row detailcontain">
                <div class="col-md-1">
                    <img class="img-thumbnail detailpostimage" src="{{planet.img}}" alt="{{planet.name}}"/>
                </div>
                <div class="post col-md-11">
                    <div class="row">
                        <h3 class="detailpostname">{{comment.user.username}} says:</h3>
                    </div>
                    <div class="post row">
                        <h3 class="detailposttitle">{{comment.title}}</h3>
                    </div>
                    <div class="post row">
                        <h4 class="detailposttext">{{comment.comment}}</h4>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        <div class="row">

        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}