{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Spacefarers</a>
                </div>
                <ul class="nav navbar-nav">
                  <li><a href="/">Home Base</a></li>
                  <li><a href="/about/">About</a></li>
                  <li class="active"><a href="/index/">Index</a></li>
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="E-mail">
                    </div>
                      <div class="form-group">
                          <input class="form-control" type="password" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-success">Sign In</button>
                  </form>
                </ul>
              </div>
        </nav>
    </div>
</body>
{% endblock %}